body {
    padding: 10vh 15%;
    background: #b6b1b1;
    background-image: url(/images/todo_1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
body > section {
    border: 5px solid #ffffff3b;
    border-radius: 40px;
    min-height: 85vh;
    backdrop-filter: blur(10px);
    padding: 1% 5%;
}
h1 {
    font-family: 'Space Grotesk', 'Helvetica', sans-serif;
    font-size: 48px;
    color: #63866b;
}
li {
    font-family: 'Space Grotesk', 'Helvetica', sans-serif;
    font-size: 32px;
    color: #d7ffe0;
}
button {
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px;
    font-size: 28px;
}
.newTask {
    font-family: 'Space Grotesk', 'Helvetica', sans-serif;
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 24px;
    color: #d7ffe0;
}
input::placeholder{ 
    color: #d7ffe0;
}